{
  "singleQuote": true,
  "semi": false,
  "printWidth": 80,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
